* {
    margin: 0;
} 

body {
    background-image: url("img/BG.jpg");
    background-size: cover;
    font-family:'Bebas Neue', cursive;
}

#logo {
    width: 30em;
    margin-top: 20em;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px;
    height: 100%;
}
   
#lateral-esq {
    margin-left: auto;
    padding: 2em;
    background-color: white;
    opacity: calc(80%); 
    height: 46em;
    align-self: center;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 3;   
}
#menu {
    background-color: red;
    opacity: calc(75%);

    grid-row-start: 1;
    grid-column-start: 3;
 
    grid-row-end: 2;
    grid-column-end: 6;   
}


.nav {
    /*font-size: 20px;
    line-height: 1.5;
    width: 15%;
    height: 100px;
    display:flex;
    align-items: center;
    justify-content: space-around;*/
    display: flex;
    
    justify-content: space-around; 
    align-items: flex-start;    

    background-color: #bbdefb;
    height: 100%;
    padding: 15px;
    gap: 5px;
}

.nav > div{
    background: #ffecb3;
    border: 3px solid #ffcc80;
    border-radius: 5px;
    padding: 8px;
  }


  .link { 
    /* flex:0 1 auto; */
    align-self:auto;
  }

#container {
    background-color: greenyellow;
    opacity: calc(75%);
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 5;
    grid-column-end: 6;
    padding: 5em;   
}

#pesquisa-cep{
    border-radius: 1.5em;
    align-self: center;
    padding: 2em;
    background-color: white;
    opacity: calc(80%);
    height: calc(70%);
}

#texto-pesquisa{
    font-family:'Bebas Neue', cursive;
    font-size: 2.5em;
}

#caixa-pesquisa{
    opacity: calc(100%);
    text-align:center;
    border-radius: 1.5em;
    width: 70%;
    height: 3em;
    text-decoration:solid;
    color: white;
    background-color: #9ab8c7;
}

#botao-pesquisa{
    opacity: calc(100%);
    border-radius: 1.5em;
    padding: 0.5em;
    background-color: #9ab8c7;
}

#img-botao-pesquisa{
    width: 3em;
    

}

#footer {
    color: white;
    text-align:center;
    margin-top: 150px;
    grid-row-start: 5;
    grid-column-start: 3;
    grid-row-end: 6;
    grid-column-end: 6;   
}